.user-image-profile {
        max-width: 147px;
        margin-top: 35px;
        display: inline-block;
    }

    .col-image {
        text-align: center;
    }

    ul.user-list-tool {
        display: -webkit-box;
        list-style: none;
        margin-left: -40px;
    }

    li.Y8-fY {
        margin-left: 0;
        margin-right: 30px;
    }

    .container-user {
        max-width: 935px;
    }

    .panel-user {
        padding: 15px 15px 36px 15px;
    }

    .image-item {
    width: 31%;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 20px;
}

img.FFVAD {
    width: 100%;
}

a.-nal3:hover {
    text-decoration: none;
}

a.-nal3 {
    color: #000;
}

span.g47SY {
    font-weight: 600;
}

.edit-profile {
    padding: 3px 12px;
    margin-left: 18px;
    margin-bottom: 10px;
}

.name-profile {
    display: inline-block;
}

.not-image {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}







.tabs-left,
    .tabs-right {
        border-bottom: none;
        padding-top: 2px;
    }

    .tabs-left {
        border-right: 1px solid #ddd;
    }

    .tabs-right {
        border-left: 1px solid #ddd;
    }

    .tabs-left>li,
    .tabs-right>li {
        float: none;
        margin-bottom: 2px;
    }

    .tabs-left>li {
        margin-right: -1px;
    }

    .tabs-right>li {
        margin-left: -1px;
    }

    .tabs-left>li.active>a,
    .tabs-left>li.active>a:hover,
    .tabs-left>li.active>a:focus {
        border-bottom-color: #ddd;
        border-right-color: transparent;
    }

    .tabs-right>li.active>a,
    .tabs-right>li.active>a:hover,
    .tabs-right>li.active>a:focus {
        border-bottom: 1px solid #ddd;
        border-left-color: transparent;
    }

    .tabs-left>li>a {
        border-radius: 4px 0 0 4px;
        margin-right: 0;
        display: block;
    }

    .tabs-right>li>a {
        border-radius: 0 4px 4px 0;
        margin-right: 0;
    }

    .container-user {
        max-width: 935px;
    }


    .box-change {
        border: 1px solid #e2e2e2;
        display: inline-table;
        padding: 10px;
    }

    a.link-tab {
        border: none !important;
        border-radius: 0 !important;
    }

    .active .link-tab {
        cursor: pointer !important;
        font-weight: 700;
    }

    .nav>li>.link-tab:hover {
        background-color: #eeeeee69 !important;
    }

    .col-tab-right {
        border-left: 1px solid #e2e2e2;
        margin-left: -16px;
    }
    
    .user-image-tab {
        width: 50px;
        display: inline-block;
    }

    .lable-tab {
        margin-top: 23px;
        display: inline-block;
        font-weight: 700;
    }

